/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'PT Serif', serif;
}

body
{
    background-color: #fcf9f0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.ital-sm
{
    font-style: italic;
    font-size:.75em;
}

.bold-lg
{
    font-weight: bold;
    font-size:2em;
}

.site-wrapper
{
    width: 100%;
    min-width: 640px;
    /*max-width: 1080px;*/
}


.site-wrapper header,
.site-wrapper .header-image-wrapper,
.site-wrapper .header-image-wrapper img,
.tiles
{
    min-width: inherit;
    width: inherit;
}

.site-wrapper header
{
    position: relative;
}


.header-image-wrapper
{
    position: relative;
    
}



.grayscale-filter
{
    -webkit-filter:grayscale(1);
    filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter:gray;
}

header h2
{
    position: absolute;
    z-index: 5;
    color:#fcf9f0;
    /*opacity:0;*/
    font-size:3.25em;
    line-height:1.2em;
    margin:0 auto;
    text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,0.3);
    width: 100%;
    top:40%;
}

header .fill-overlay
{
    position: absolute;
    z-index: 3;
    top:0;
    opacity: .8;
}

header .fill
{
    width:1600px;
    height:400px;
    opacity: .3;
}


.tile-wrapper
{
    /*display:none;*/
    width: 100%;
    max-width: 1600px;
    min-width: inherit;
    margin:100px auto;
}


.project-tile
{
    width:30%;
    max-width: 230px;
    text-align: left;
    /*background-color: #FF5F12;*/
    /*background-color:#d12127;*/
    background-color: #5dbc50;
    color:#fcf9f0;
    margin:8px 8px 8px 8px;
    display: inline-block;
    vertical-align:top;
    overflow: hidden;
    cursor: pointer;


    -webkit-border-top-right-radius: 32px;
    -moz-border-radius-topright: 32px;
    border-top-right-radius: 32px;
}

.shadowbox {    border: 2px solid #ffffff;    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);}

.project-tile .upper
{
    position: relative;
    width:100%;
    height: 230px;
    overflow: hidden;
}

.project-tile .upper img
{
    height: 100%;
    background-position: center;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
}

.project-tile .lower
{
    position: relative;
    height:120px;
    margin: 10px 10px 10px 10px;
}

.project-title
{

}

.project-media
{
    position: absolute;
    bottom: 0;
}

.project-link
{
    position: absolute;
    bottom: 0;
    right: 0;
    width:20px;
    height:20px;
    background-image: url(../img/live_link.png);
    background-size: 100%;
    opacity: .3;
}

.project-link:hover
{
    opacity: .6;
}

.project-roles
{
    margin-bottom:8px;
}


.project-detail
{
    width: 90%;
    margin:100px auto;
}

.project-detail .full-image-wrapper
{
    margin-top: 8px; 
}

.project-description
{
    width:80%;
    margin:0 auto;
    color: #464646;
    text-align: left;
}

.project-description .upper
{
    margin-bottom: 60px;
}

.project-description .lower
{
    font-size: .75em;
}

.project-description .project-roles div,
.project-description .project-tech div
{
    display: inline-block;
    margin-right: 8px;
}

.project-description .project-roles
{
    width: 50%;
}

.project-description .tech
{
    width: 50%;
}

.project-description h2
{
    margin: 0
}

.carousel-wrapper
{
    width:960px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


.full-image-wrapper
{
    width:100%;
    margin: 0; 
}

.full-image-wrapper img
{
    width:100%;
    height:auto;
}

.inline{
    display: inline-block;
}

.col-50
{
    display: inline-block;
    width: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
}




footer
{
    margin: 0 auto 30px auto;
    overflow: hidden;
}

footer .content-wrapper
{
    min-height: 30px;
}

.top-line
{
    width: 90%;
    border-top: 1px solid #5dbc50;
    margin:0 auto;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

.center
{
    text-align: center;
    margin: 0 auto 0 auto;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (max-width: 799px) {
     /*Style adjustments for viewports that meet the condition*/ 
    .project-tile
    {
        width:40%;
        margin:8px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1359px) {
     /*Style adjustments for viewports that meet the condition*/ 
    .project-tile
    {
        width:30%;
        margin:16px;

    }
}

@media only screen and (min-width: 1360px) and (max-width: 4000px) {
     /*Style adjustments for viewports that meet the condition*/ 
    .project-tile
    {
        width:20%;
        margin:30px;
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
